VisitorClient/xml-resources/web-service-references/MyWebService/wsdl/localhost_8080/MyWebService/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MyWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MyWS/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://MyWS/" schemaLocation="http://localhost:8080/MyWebService/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addNewOrder">
<part name="parameters" element="tns:addNewOrder"/>
</message>
<message name="addNewOrderResponse">
<part name="parameters" element="tns:addNewOrderResponse"/>
</message>
<message name="getPizzaList">
<part name="parameters" element="tns:getPizzaList"/>
</message>
<message name="getPizzaListResponse">
<part name="parameters" element="tns:getPizzaListResponse"/>
</message>
<message name="removePizza">
<part name="parameters" element="tns:removePizza"/>
</message>
<message name="removePizzaResponse">
<part name="parameters" element="tns:removePizzaResponse"/>
</message>
<message name="checkOrderStatus">
<part name="parameters" element="tns:checkOrderStatus"/>
</message>
<message name="checkOrderStatusResponse">
<part name="parameters" element="tns:checkOrderStatusResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addNewPizza">
<part name="parameters" element="tns:addNewPizza"/>
</message>
<message name="addNewPizzaResponse">
<part name="parameters" element="tns:addNewPizzaResponse"/>
</message>
<message name="changeOrderStatus">
<part name="parameters" element="tns:changeOrderStatus"/>
</message>
<message name="changeOrderStatusResponse">
<part name="parameters" element="tns:changeOrderStatusResponse"/>
</message>
<portType name="MyWebService">
<operation name="addNewOrder">
<input wsam:Action="http://MyWS/MyWebService/addNewOrderRequest" message="tns:addNewOrder"/>
<output wsam:Action="http://MyWS/MyWebService/addNewOrderResponse" message="tns:addNewOrderResponse"/>
</operation>
<operation name="getPizzaList">
<input wsam:Action="http://MyWS/MyWebService/getPizzaListRequest" message="tns:getPizzaList"/>
<output wsam:Action="http://MyWS/MyWebService/getPizzaListResponse" message="tns:getPizzaListResponse"/>
</operation>
<operation name="removePizza">
<input wsam:Action="http://MyWS/MyWebService/removePizzaRequest" message="tns:removePizza"/>
<output wsam:Action="http://MyWS/MyWebService/removePizzaResponse" message="tns:removePizzaResponse"/>
</operation>
<operation name="checkOrderStatus">
<input wsam:Action="http://MyWS/MyWebService/checkOrderStatusRequest" message="tns:checkOrderStatus"/>
<output wsam:Action="http://MyWS/MyWebService/checkOrderStatusResponse" message="tns:checkOrderStatusResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://MyWS/MyWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://MyWS/MyWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addNewPizza">
<input wsam:Action="http://MyWS/MyWebService/addNewPizzaRequest" message="tns:addNewPizza"/>
<output wsam:Action="http://MyWS/MyWebService/addNewPizzaResponse" message="tns:addNewPizzaResponse"/>
</operation>
<operation name="changeOrderStatus">
<input wsam:Action="http://MyWS/MyWebService/changeOrderStatusRequest" message="tns:changeOrderStatus"/>
<output wsam:Action="http://MyWS/MyWebService/changeOrderStatusResponse" message="tns:changeOrderStatusResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNewOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPizzaList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePizza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkOrderStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewPizza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeOrderStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8080/MyWebService/MyWebService"/>
</port>
</service>
</definitions>