EmplClient/xml-resources/web-service-references/MyWebService/wsdl/localhost_8080/MyWebService/MyWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://MyWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://MyWS/">

<xs:element name="addNewOrder" type="tns:addNewOrder"/>

<xs:element name="addNewOrderResponse" type="tns:addNewOrderResponse"/>

<xs:element name="addNewPizza" type="tns:addNewPizza"/>

<xs:element name="addNewPizzaResponse" type="tns:addNewPizzaResponse"/>

<xs:element name="changeOrderStatus" type="tns:changeOrderStatus"/>

<xs:element name="changeOrderStatusResponse" type="tns:changeOrderStatusResponse"/>

<xs:element name="checkOrderStatus" type="tns:checkOrderStatus"/>

<xs:element name="checkOrderStatusResponse" type="tns:checkOrderStatusResponse"/>

<xs:element name="getPizzaList" type="tns:getPizzaList"/>

<xs:element name="getPizzaListResponse" type="tns:getPizzaListResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="removePizza" type="tns:removePizza"/>

<xs:element name="removePizzaResponse" type="tns:removePizzaResponse"/>

<xs:complexType name="getPizzaList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPizzaListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePizza">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePizzaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewOrder">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg1" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeOrderStatus">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkOrderStatus">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewPizza">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewPizzaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>